li:first-child {
    color:black;
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto) ;
}

#background_pic_home {
    grid-column: 1/span 2;
    grid-row: 1/ span 1;
    position: relative;
    background: url("../images/keerdtrepp.jpg") black no-repeat; 
    height: 500px;
    background-size: cover; 
    filter: grayscale(100%);
}

#me {
    grid-column: 1/span 2;
    grid-row: 1/ span 1;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    color: white;
}

#me {
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; /
  letter-spacing: .15em;
  animation: title 4s steps(40, end);
}

@keyframes title {
  from { width: 0 }
  to { width: 100% }
}

#portrait {
    grid-column: 1/ span 2;
    grid-row: 2/span 1;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

#portrait {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.description_part{
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    padding: 20px 30px 20px 30px;
    
}

#hi_eveyone {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}


@media all and (min-width: 750px){

    

    main {
        grid-template-columns: 1fr 2fr;
        grid-template-row: auto auto;
    }

    #background_pic {
        grid-column: 1/span 2;
        grid-row: 1/ span 1;
        height: 575px;
    }

    #portrait {
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        margin-bottom: 50px;
    }

    .description_part{
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }

           
}

@media all and (min-width: 1200px){


    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        border: solid 2px   #D3D3D3 ;
        margin: 10px 70px 10px 70px;  
    }

    #background_pic {
        grid-column: 1/span 2;
        grid-row: 1/ span 1;
        height: 575px;
    }

    #portrait {
        grid-row: 2/span 1;
        grid-column: 1/span 2;
        margin-bottom: 20px;        
    }

    .description_part{
        grid-column: 1/span 2;
        grid-row: 3/span 2;
        margin-left: 200px;
        margin-right: 200px;
    }

    

}

@media (prefers-reduced-motion: reduce) {

    #me {
        animation: none;
    }
}

