li:nth-child(2) {
    color:black;
    text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
}

#background_pic {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  position: relative;
  background: url("../images/work_background.jpg") black no-repeat; 
  height: 500px;
  background-size: cover;
  background-attachment: fixed;    
  background-position: center;
}

#work {
  font-size: 50px;
  padding-top: 200px;
  text-align: center;
  color: white;
}

#about_section {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  padding: 20px 30px 20px 30px;
}

#about_section h2, #excites h2 {
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
}

#professional_pic {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  background: url("../images/professional_pic.jpg") white no-repeat; 
  height: 400px;
  width: 350px;
  background-size: cover;
  margin-right: 50px;
  margin-left: 50px;
  border: 1px solid white;
  border-radius: 7px;
  justify-self: center;
}

#excites {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
  padding: 20px 30px 20px 30px;
}

#resume {
  grid-column: 1/ span 2;
  grid-row: 5/span 1;
  justify-self: center;
  padding-top: 20px;
}

#resume img {
  height: 50px;
  width: 50px;
  padding-top: 20px;
  padding-left: 35px;
  transition: transform 0.5s;
}

#resume img:hover {
  transform: scale(1.3);
}

#initial {
  width: auto;
  padding: 17px;
  text-align: center;
  background-color: white;
  color: black;
  border: dotted 1px black;
  border-radius: 10px;
  cursor: pointer;
}

#scroll_down {
  width: 150px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: solid 1px white;
}

#scroll_down {
  padding: 0px;
  display: none;
}

#form_elements {
  grid-column: 1/span 2;
  grid-row: 6/span 1;
  justify-self: center;
}

.form {
  width: 270px;
  height: 325px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 25px;
  margin-top: 20px;
}

#contact_me {
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
}

input[type=text], input,  textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
   border: 2px;
   background-color: lightblue;
}


@media all and (min-width: 750px){
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
    }

    #professional_pic {
      margin-left: 250px;
      margin-right: 250px;
    }

    #excites, #about_section {
      padding-left: 150px;
      padding-right: 150px;
    }

    #excites {
      grid-column: 1/span 2;
      grid-row: 4/span 1;
    }

    #form_elements {
      grid-column: 1/span 1;
      grid-row: 5/span 1 ;
      margin-right: 10px;
      margin-left: 100px;
    }

    #resume {
      grid-column: 2/span 1;
      grid-row: 5/span 1;
      margin-top: 30px;
      margin-left: 20px
    }
}

@media all and (min-width: 1200px){
   main {
      grid-template-columns: 1fr 1fr;
      grid-template-row: repeat(6, auto);
      border: solid 2px   #D3D3D3 ;
      margin: 10px 70px 10px 70px;
    }

    #form_elements {
      grid-column: 1/span 2;
      grid-row: 6/span 1;
      padding-bottom: 25px;
    }

    #resume {
      grid-column: 1/span 2;
      grid-row: 5/span 1;
    }

    #about_section, #professional_pic, #excites, #resume, #form_elements {
      margin-left: 100px;
      margin-right: 100px;
    }

}





